body {
  margin: 0;
}
.list-bg {
  background: rgb(249, 250, 255);
  padding: 10px;
}
.list-item {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
}
.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.list-item p {
  color: grey;
  margin: 5px 0px;
}

.post-form {
  padding: 20px;
}
input {
  box-sizing: content-box;
  padding: 5px;
  margin-bottom: 15px;
  display: block;
}
textarea {
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 15px;
  display: block;
}

.moveToPostBtn {
  background-color: lightgray;
  border-radius: 20%;
  padding: 5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}
